* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    background-color: #90bcbc;
    height: 16rem;
    width: 16rem;
    margin: 20px;
    display: flex;
}