* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.items {
    display: grid;

    grid-template-columns:
        repeat(auto-fit,
            minmax(350px, 1fr));
    gap: 20px;
    place-items: center;
}

.item {
    padding: 1.35rem;
    background: #90bcbc;
    height: 16rem;
    width: 16rem;
}